<div class="container mt-3 mb-3 billing-cycle-options d-flex align-items-center justify-content-center">
    <span class="d-block">Monthly</span>
    <div class="custom-switch mx-2">
        <input type="checkbox" class="custom-control-input" id="billing-cycle-selector" checked>
        <label class="custom-control-label" for="billing-cycle-selector"></label>
    </div>
    <div class="d-block font-weight-bold">
        <span>6 months</span>
        <span class="save-message">(Save 30%)</span>
    </div>
</div>
