<div class="card mb-3">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand">Linked Accounts</span>
    </nav>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-6">
                {% if form.accounts %}
                   {% include 'remove_account_form.html' %}
                {% endif %}
            </div>
            <div class="col-12 {% if form.accounts %}col-md-6{% else %}col-md-8 offset-md-2{% endif %}">
                {% include 'link_account.html' %}
            </div>
        </div>
    </div>
</div>

