{% extends "base.html" %}
{% block title %}{{ seo_title_prefix }}Set Password{% endblock %}
{% block og_title %}{{ seo_title_prefix }}Set Password{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row gutters-sm">
            <div class="col-12">
                <div class="card mb-3">
                    <nav class="navbar navbar-light bg-light">
                        <span class="navbar-brand">Set Password</span>
                    </nav>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                {% include 'set_password_form.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
