<div class="card mb-3">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand">Conversation club</span>
        <small class="font-italic"><a href="https://www.youtube.com/watch?v=RR_p5GG-soc" data-toggle="lightbox">How to schedule</a></small>
    </nav>
    <div class="card-body px-0 py-1">
        <ul class="list-group list-group-flush">
            {% include 'dashboard/available_conversation_club.html' %}
        </ul>
    </div>
</div>

<div class="card mb-3">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand">Professional Lessons</span>
        <small class="font-italic"><a href="https://www.youtube.com/watch?v=4YnhUSCLsFY" data-toggle="lightbox">How to schedule</a></small>
    </nav>
    <div class="card-body px-0 py-1">
        <ul class="list-group list-group-flush">
            {% include 'dashboard/available_lesson_time.html' %}
        </ul>
    </div>
</div>

<div class="card mb-3">
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand">Conversation Practices</span>
        <small class="font-italic"><a href="https://www.youtube.com/watch?v=4YnhUSCLsFY" data-toggle="lightbox">How to schedule</a></small>
    </nav>
    <div class="card-body px-0 py-1">
        <ul class="list-group list-group-flush">
            {% include 'dashboard/available_practice_time.html' %}
        </ul>
    </div>
</div>
