{% extends 'base.html' %}
{% block title %}{{ seo_title_prefix }}Learn Spanish and practice your listening skills.{% endblock %}
{% block og_title %}{{ seo_title_prefix }}Learn Spanish and practice your listening skills.{% endblock %}
{% load has_active_chat %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/leadership_board.css' %}">
<link rel="stylesheet" href="{% static 'css/forum/index.css' %}">
<style >
    footer {
        margin-top: 17rem;
    }
</style>
{% endblock %}
{% block content %}
{% include 'leadership_board.html' %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            {% include 'forum/user_card.html' %}
        </div>
        <div class="col-md-9">
            {% include 'forum/main_card.html' %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
<script type="text/javascript" src="{% static 'js/copy-to-clipboard.js' %}"></script>
<script>
    function openTab() {
        document.querySelector(".leadership-board").style.left = 0;
        document.querySelector(".board-tab").style.left = "-10rem";
    }
    function closeTab() {
        document.querySelector(".leadership-board").style.left = "-30rem";
        document.querySelector(".board-tab").style.left = "-75px";
    }
</script>
{% endblock %}
