.signup-other {
    display: flex;
    margin-top: 6px;
    font-size: 15px;
}

.signup-other .social img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.signup-other .social.inverse {
    background-color: var(--blacky);
    color: var(--snow);
}

.signup-other .social {
    width: 50%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 6px;
    padding-top: 8px;
    border-radius: 30px;
    background-color: var(--snow);
}
.signup-other .social:hover {
    opacity: 0.8;
    background-color: var(--blacky);
    color: var(--snow);
    transition: all 0.3s ease-in;
}
