<div class="container-fluid bg-dark text-white" id="courses">
    <div class="container mextalki-info ">
        <div class="row flex-nowrap">
            <div class="col-md-4 text-center">
                <h1>{{ lessons.count }}</h1>
                <p>Self-Paced Lessons</p>
            </div>
            <div class="col-md-4 text-center users-counter">
                <h1>{{ users.count }}</h1>
                <p>Current Students</p>
            </div>
            <div class="col-md-4 text-center">
                <h1>{{ teachers.count }}</h1>
                <p>Teachers</p>
            </div>
        </div>
    </div>
</div>
