{% extends 'base.html' %}
{% block title %}{{ seo_title_prefix }}Exchange {{ event_type|capfirst }} credits{% endblock %}
{% block og_title %}{{ seo_title_prefix }}Exchange {{ event_type|capfirst }} credits{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/pricetable.css' %}">
    <style>
    body {
        background-color: var(--background);
    }
    </style>
{% endblock %}
{% block extra_js %}
    <script>
        const discount = '{{ discount }}';
        const extra_hour_price = '{{ extra_hour_price|stringformat:".0f" }}';
        const extra_hour_currency = '{{ extra_hour_currency }}';
        const user_is_auth = {{ user.is_authenticated|yesno:"true,false" }};
        const event_type = '{{ event_type }}';
        const payment_url = '{% url 'process_paypal_extra_hours_payment' user_uid_b64=user.uid event_type=event_type %}';
        const swap_url = '{% url 'process_swap_extra_hours_payment' user_uid_b64=user.uid event_type=event_type %}'
        const stripe_checkout_url = '{% url 'stripe_create_checkout_session' %}';
        const stripe_public_key = '{{ stripe_public_key }}';
    </script>
    <script type="text/javascript" src="{% static 'js/js-cookie/js.cookie.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/extra_hours_common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/exchange_hours_payment.js' %}"></script>
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript" src="https://www.paypal.com/sdk/js?client-id={{ paypal_client_id }}"></script>
{% endblock %}


{% block content %}
{% include 'lessons/payment_modal.html' %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-12">
            <div class="container mt-2 mt-md-4">
                <h1 class="text-center mb-4">Exchange {{ event_type }} credits</h1>
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 my-2">
                        <div class="alert alert-info">You have <strong>{{ user.referral_credits }}</strong> Credits, remember 1 credit = $1 USD</div>
                    </div>
                    <div class="col-12 col-md-8 my-2">
                        {% include 'lessons/extra_hours/price_card.html' with render_coupon_form=False swap_button=True %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
